@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";

button {
    border: none;
    outline:none;
  }

.gridContainerCart{
    display: grid;
    grid-template-rows: 1fr 1fr;
.superContainerCart{
    position: absolute;
    right: 0;
    height: 15rem;
    width: 26rem;
    @include Asmall() {
        width: 24rem;
      }
    
      @include smallTablet() {
        width: 24rem;
      }
.containerCart{
    position: relative;
    background-color: $overlay-color;
    height: 15rem;
    z-index: 99;
    overflow: auto;
    box-shadow: 4px 8px 20px #000;
.elementCart{
    position: relative;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 24rem;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid $gray-white;
    top: 0;
    left: 0;
    bottom: 0;
    img{
        width: 5rem;
        align-self: center;
        justify-self: center;
    }
}
}
.containerCartEmpty{
    position: relative;
    background-color: $overlay-color;
    height: 15rem;
    z-index: 99;
    overflow: auto;
    box-shadow: 4px 8px 20px #000;
    display: grid;
    .contentCartEmpty{
        display: grid;
        align-self: center;
        justify-self: center;
        text-align: center;
        grid-template-rows: 1fr 1fr;
        color: $gray-white;
        p{
            font-weight: 800;
            font-style: italic;
        }
        i{
            font-size: 2rem;
        }
    }
}
}
.containerEventButtons{
    position: absolute;
    right: 0;
    z-index: 99;
    top: 18rem;
    background-color: #fff;
    width: 24rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
        button{
            &:nth-child(1){
                background-color: $blue;
                border: 1px solid $blue;
                &:hover{
                    background-color: $overlay-color;
                    color: $blue;
                }
            }
        }
}
}

.buttonEventCart {
        border: 2px solid $red;
        text-decoration: none;
        color: $overlay-color;
        font-weight: 500;
        text-transform: capitalize;
        background-color: $red;
        padding: 10px 0px;
        width: 100%;
        cursor: pointer;
    &:hover{
        background-color: $overlay-color;
        color: $red;
    }
    &:disabled{
        background-color: $gray-white;
        color: #000;
        cursor: not-allowed;
        border: solid 1px #000;
    }
}