
<div class="gridContainerCart" *ngIf="showCart">
    <div class="superContainerCart">
        <div class="containerCart" *ngIf="cartProducts?.length; else containerCartEmpty">
                <div class="elementCart" *ngFor="let cartProduct of cartProducts">
                    <div class="description">
                        <p><b>Nombre: </b>{{ cartProduct.title }}</p>
                        <p><b>Precio: </b>${{ cartProduct.price }} c/u</p>
                        <p><b>Cantidad: </b>{{ cartProduct.quantity }}</p>
                    </div>
                    <img [src]="cartProduct.images[0]" alt="">
                    <div class="containerButtons">
                        <button class="buttonEventCart" (click)="eraseCartProduct(cartProduct)"> Eliminar del carrito </button>
                    </div>
                </div>
            </div>
            <ng-template #containerCartEmpty>
                <div class="containerCartEmpty">
                    <div class="contentCartEmpty">
                        <p>Carrito de compras vacío</p>
                        <i class="fa fa-frown-o" aria-hidden="true"></i>
                    </div>
                </div>
            </ng-template>
    </div>
    <div class="containerEventButtons">
        <button class="buttonEventCart" (click)="downloadFile()" > Convertir a SCV </button>
        <button class="buttonEventCart" (click)="hideCart()"> Salir del carrito </button>
    </div>
</div>
