@import "./scss/mixins";
@import "./scss/variables";
@import "./scss/fonts.scss";
@import "./scss/margin";
$fa-font-path: "~font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';

/* 
    @include Asmall() {
        height: 15vh;
    }
    
    @include smallTablet() {
        height: 15vh;
    }
    
    @include tabletLaptop() {
        height: 10vh;
    }

    @include laptopDesktop() {
        height: 10vh;
    }
    
    @include desktopFull() {
        height: 20vh;
    }
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  font-family: Montserrat;
}

app-list{
    height: 100vh;
    display: block;
}

.ng-image-slider{
    padding: 0.5rem;
    width: 99% !important;
}