
$overlay-color: #fff;
$blue: #0c3c5c;
$green: #058c61;
$red: #8f0505;

/* Markup */
$Asmall: 575.98px;
$small: 576px;
$Atablet: 767.98px;
$tablet: 767.98px;
$Alaptop: 991.98px;
$laptop: 992px;
$Adesktop: 1199.98px;
$desktop: 1200px;