@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";

button {
  border: none;
  outline:none;
}

.containerList{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    @include smallTablet() {
      grid-template-columns: 30% 40% 30%;
    }
  
    @include smallTablet() {
      grid-template-columns: 10% 80% 10%;
    }
  
    @include tabletLaptop() {
      grid-template-columns: 10% 80% 10%;
    }
    @include laptopDesktop() {
      grid-template-columns: 10% 80% 10%;
    }
  
    @include desktopFull() {
      grid-template-columns: 10% 80% 10%;
    }
    .contentProducts{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include Asmall() {
        grid-template-columns: 1fr;
      }
    
      @include smallTablet() {
        grid-template-columns: repeat(2, 1fr);
      }
    
      @include tabletLaptop() {
        grid-template-columns: repeat(2, 1fr);
      }
      @include laptopDesktop() {
        grid-template-columns: repeat(3, 1fr);
      }
    
      @include desktopFull() {
        grid-template-columns: repeat(4, 1fr);
      }
      .itemProduct{
        justify-self: center;
        position: relative;
        &:hover{
          .tooltip{
            display: flex;
          }
        }
        img{
          width: 15rem;
          height: 15rem;
          border-radius: 6px;
          cursor: pointer;
        }
        .tooltip{
            background: black;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            text-transform: capitalize;    
            position: absolute;
            z-index: 1030;
            font-size: 12px;
            line-height: 1.4;
            visibility: visible;
            filter: alpha(opacity=0);
            display: none;
            white-space: pre-line;
            word-break: break-all;
            top: calc(63% - 25px);
  
          &:after {
            content: "";
            position: absolute;
            top: -5px;
            right: 50%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #000 transparent transparent;
            transform: rotate(90deg) translateY(-50%);
            }
          }
        .containerDescription {
          width: 15rem;
          text-align: center;
          height: 4rem;
        }
        .dropdownAddToCart {
          position: absolute;
          background-color: $gray-black;
          color: $overlay-color;
          font-weight: 500;
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          width: 15rem;
          padding: 1rem;
          margin-top: -20px;
          z-index: 1;
          .controlsAddWidgetProduct{
            display: grid;
            grid-template-columns: 10% 80% 10%;
            align-items: center;
            justify-self: center;
            width: 12rem;
            p{
              text-align: center;
            }
            .danger{
              background-color: $red;
              color: $overlay-color;
              border-radius: 3px;
              outline: none;
              &:disabled{
                background-color: $red-disabled;
                cursor: not-allowed;
              }
            }
            .cleared{
              background-color: $green;
              color: $overlay-color;
              border-radius: 3px;
              outline: none;
            }
          }
          .buttonAdd{
            display: grid;
            justify-items: center;
          }
        }
      }
    }
}

.pointer{
  cursor: pointer;
}

.buttonBuy {
  border: 2px solid $green;
  border-radius: 6px;
  text-decoration: none;
  color: $overlay-color;
  font-weight: 500;
  text-transform: capitalize;
  background-color: $green;
  padding: 10px 0px;
  width: 12rem;
  &:hover{
    background-color: $overlay-color;
    color: $green;
  }
  &:disabled{
    background-color: $gray-white;
    color: #000;
    cursor: not-allowed;
    border: solid 1px #000;
  }
}

.buttonCancel {
  border: 2px solid $red;
  border-radius: 6px;
  text-decoration: none;
  color: $red;
  font-weight: 500;
  text-transform: capitalize;
  background-color: $overlay-color;
  padding: 10px 0px;
  width: 12rem;
  &:hover{
    background-color: $red;
    color: $overlay-color;
  }
}

.superButton {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $overlay-color;
    text-transform: capitalize;
    background-color: $blue;
    padding: 20px 0px;
    width: 15rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }

.effect-transition {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: "\f175";
      font-family: FontAwesome;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba($overlay-color,0.3);
      border-radius: 0 50% 50% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
     &:hover {
      text-indent: 30px;
      
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
  }