

<app-modal [product]="productModal" />

<section class="containerList">
    <div class="space"></div>
    <div class="contentProducts">
    <div *ngFor="let product of products" 
        class="itemProduct">
        <img [src]="product.images[0]" (click)="showModalMethod(product)">
        <div class="tooltip">Ver detalle de producto</div>
        <div class="containerDescription">
            <h4>{{ product.title }}</h4>
            <p>Precio: $ {{ product.price }} c/u</p>
        </div>
            <div>
                <p class="superButton effect-transition pointer" (click)="appearProductWidget(product, true)">Comprar</p>
            </div>
        <div class="dropdownAddToCart" *ngIf="product.viewWidget">
            <div class="controlsAddWidgetProduct">
                <button class="cleared pointer" (click)="modifyProductQuantity(product, 'sum')">+</button>
                <p>{{ product.quantity }}</p>
                <button class="danger pointer" (click)="modifyProductQuantity(product, 'sub')" [disabled]="product.quantity == 0">-</button>
            </div>
            <div class="buttonAdd">
                <button class="buttonBuy pointer mb-2" [disabled]="product.quantity == 0" (click)="addToCartProduct(product)">Agregar al carrito</button>
                <button class="buttonCancel pointer" (click)="appearProductWidget(product, false)">Cancelar</button>
            </div>
        </div>
    </div>
    </div>
    <div class="space"></div>
</section>

