@import "../../../../../scss/variables";

.containerSearch {
    display: grid;
    grid-template-columns: 1rem 20rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    input{
        height: 2rem;
        border-radius: 5px;
    }
}

hr{
    
    margin: 0 1rem 2rem 1rem;
    border: solid 1px rgb(240, 240, 240); 
}
